name: Publish to HuggingFace

on:
  push:
    branches: [main]
    paths:
      - 'data/**'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Push to HuggingFace
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          pip install huggingface_hub
          huggingface-cli upload evalevalcoalition/every-eval-ever ./data --repo-type dataset
